@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: inherit;
    color: inherit;
}

:root {
    --color-text: #dadce1;
    --color-foreground: #2a2b2c;
    --color-background: #1a1b1d;
    --color-accent: #313435;

    font-family: "Noto Sans JP", system-ui, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

.large {
    font-size: 3rem;
}

.scroll {
    overflow-y: scroll;
}

.wrapper {
    height: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2rem;
}

.box {
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-foreground);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.flex.vertical {
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
}

.flex-1 {
    flex: 1;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.center {
    text-align: center;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

button,
.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-foreground);
    border: 1px solid var(--color-accent);
    text-decoration: none;
    cursor: pointer;
}

button:hover,
.button:hover {
    filter: brightness(1.2);
}

dialog[open] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    background-color: var(--color-background);
    border: none;

    z-index: 9999;
}

dialog > * {
    max-width: 768px;
}

rt {
    font-size: 0.75em;
}

input {
    padding: 0.7rem 1rem;
    background-color: var(--color-accent);
    border: none;
    border-radius: 0.5rem;
    min-width: 0;
}

.correct {
    color: #2bdfa3;
}

.incorrect {
    color: #e73c30;
}

em {
    font-style: italic;
}

#gloss {
    opacity: 0.5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0.5;
}
